/* mobile first layout */

/* font familiies: 

font-family: 'Bree Serif', serif;

font-family: 'Ubuntu', sans-serif; */

:root {
    /* color palette taken from colormind.io */
    --bg_color: #EEf0F1;
    --bg_accent: #857DA0;
    --brand_color: #8A8ABC;
    --dark_accent: #6C6C94;
    --dark_shade: #372D5D;
}

*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 18px;
}

/* default font families */
h1, h2, h3 {
    font-family: 'Bree Serif', serif;
}

li, p, a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

/* mobile first layout */
.wrapper {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--bg_color);
    text-align: justify;
    align-content: flex-end;
}

body {
    align-self: center;
}

/* header + navbar elements  */

header{
    width: 100%;
    height: auto;
    background-image: url(https://placebear.com/1680/1080);
    margin: 0;
    padding: 0;
}
header h1 {
    font-size: 40px;
    color: var(--brand_color);

    /* text shadow stamped look taken from STEVE review during reading week  */
    text-shadow: 2px 2px var(--bg_color), -2px -2px var(--dark_shade);
    text-align: center;
}

/* content: articles + pictures */

/* NAVIGATION */

nav{
    padding-top: 0;
    margin: 0;
}
nav li {
    text-align: center;
    align-self: flex-start;
    background-color: var(--bg_accent);
    border: solid 2px var(--brand_color);
    padding: 0;
}
nav ul {
    padding: 0;
    list-style-type: none;
    margin: none;
}

nav li:hover{
    background-color: var(--dark_accent);
}

/* main content  */
body{
    padding: 0;
}

/* footer */

footer{
    text-align: center;
}

/* Layout 2 (medium)
@media screen and (min-width: 800px) and (max-width: 1200px){
    header{
        color: rebeccapurple;
    }
} */

/* Layout 3 (large)
@media screen and (min-width: 600px) and (max-width 800px){
    header{
        color: rebeccapurple;
    }
} */

/* Layout 4 (extra large)
@media screen and (min-width: 1200px){
    header{
        color: rebeccapurple;
    }
} */

