/* mobile first layout */

/* font familiies: 

font-family: 'Bree Serif', serif;

font-family: 'Ubuntu', sans-serif; */

:root {
    /* color palette taken from colormind.io */
    --bg_color: #EEf0F1;
    --bg_accent: #857DA0;
    --brand_color: #8A8ABC;
    --dark_accent: #6C6C94;
    --dark_shade: #372D5D;
}

/* did this so I could change the padding/ margin when necessary */
*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 18px;
}

/* default font families */
h1, h2, h3 {
    font-family: 'Bree Serif', serif;
}

li, p, a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

/* mobile first layout */
.wrapper {
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: var(--bg_color);
    text-align: justify;
    align-content: flex-end;
    margin: 0 auto;
}

body {
    align-self: center;
    
}

/* header + navbar elements  */

header{
    width: 100%;
    height: auto;
    background-image: url(https://placebear.com/1680/1080);
    background-position: center;
}
header h1 {
    font-size: 40px;
    color: var(--brand_color);
    padding: 10px;
    /* text shadow stamped look taken from STEVE review during reading week  */
    text-shadow: 2px 2px var(--bg_color), -2px -2px var(--dark_shade);
    text-align: center;
}

/* NAVIGATION */

nav{
    width: 100%;
}
nav li {
    text-align: center;
    align-self: flex-start;
    background-color: var(--bg_accent);
    border: solid 2px var(--brand_color);
    width: inherit;
}
nav ul {
    list-style-type: none;
    margin: none;
}

nav li:hover{
    /* transition idea taken from Steve REading week Review lecture  */
    transition: padding 0.8s;
    background-color: var(--dark_accent);
    font-size: 1.6em;
    padding: 20px;
    
}

/* targetting the links based on the hover state of the parent element  */
nav li:hover a {
    transition: color 0.5s;
    color: var(--bg_color);
}

/* content: articles + pictures */

.article figure {
    background: var(--brand_color);
    text-align: center;
    color: var(--bg_color);
    font-size: 20px;
}
.article figure img{
    /* padding: 50px; */
    width: inherit;
    /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
    display: inline-block; 
    height: auto;
    margin: 20px;
    background: var(--dark_accent);
    border: dashed 20px var(--dark_shade);
}



/* footer */

footer{
    width: 100%;
    text-align: center;
    background-color: var(--dark_shade);
    color: var(--bg_color);
    text-align: center;
}
.endnotes li, .endnotes a {
    list-style-type: none;
}
.endnotes li:hover{
    transition: background-color 0.6s;
    background-color: var(--dark_accent);
}

/* Layout 2 (medium) */
@media screen and (min-width: 600px) and (max-width: 800px){

    /* wrapper container for medium layout  */
    .wrapper{
        font-size: 0.8em;
        /* switch to display block to get out of display: flex  */
        display: block;
    }

    /* header element for medium layout  */
    header{
        width: 100%;
    }

    /* navigation bar and links inside it for medium layout  */
    nav{
        width: 90%;

        /* setting the left and right margins to auto to center the nav bar  */
        margin-left: auto;
        margin-right: auto;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        font-size: 1.4em;
    }
    nav ul li {
        background-color: var(--brand_color);
        width: 20%;
    }
    nav li:hover{
        background-color: var(--dark_shade);

        /* overwrote the effects from the mobile layout  */
        padding: 0;
        font-size: 1em;
    }
    /* targetting the link based on the hover state of its parent element  */
    nav li:hover a {
        transition: color 0.5s;
        color: var(--bg_color);
    }

    /* main elements for bear zone  */
    main {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--bg_accent);
    }
    main>section {
        width: 50%;
        text-align: justify;
        padding: 20px;
    }
    .article figure {
        width: 60%;
        font-size: .8em;
        float: left;
        background-color: var(--brand_color);
    }
    .article > figure > img {
        border: none;
        width: fit-content;
    }
    
    /* footer for medium layout  */
    footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Layout 3 (large) */
@media screen and (min-width: 800px) and (max-width: 1200px){

    /* wrapper and head css for large view  */
    .wrapper{
        width: 100%;
        font-size: 1.1em;
    }
    header{
        width: 100%;
        border-bottom: solid 10px var(--dark_shade);
    }
    nav{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    nav ul {
        display: flex;
        
    }
    nav ul li {
        width: 20%;
        background-color: var(--bg_color);
        color: #000000;
    }

    /* overwriting the hover effects on nav  */

    nav ul li:hover, nav ul li a:hover, nav ul:hover, nav li:hover a {
        font-style: oblique;
        background-color: var(--bg_color);
        color: #000000;
        padding: 0;
        font-size: 1em;
    }

    /* main content for large view */
    main{
        width: 90%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    main>section{
        width: 50%;
        padding: 1em;
        margin: auto;
    }
    .article figure {
        float: right;
        margin: 0;
        background-color: var(--bg_color);
        color: #000000;
    }

    .article figure figcaption{
        /* moving the figcaption relative to its original position  */
        position: relative;
        top: -15px;
        font-style: italic;
    }
    .article > figure > img {
        width: inherit;
        border: none;
        box-shadow: 5px 5px 10px var(--dark_shade);
    }

    /* footer for large view  */

    footer{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .endnotes{
        display: flex;
        justify-content: space-around;
    }
}

/* Layout 4 (extra large)
@media screen and (min-width: 1200px){
    header{
        color: rebeccapurple;
    }
} */

